
.container{
    display: flex;
    justify-content: space-between ;
}
.main_block {
    position: absolute;
    top: 40px !important;
    right: 40px !important;
}
.list{
    margin-right: 300px;
}

