*{
    margin: 0;
    padding: 0;
}
.form_box{
    position: relative;
    /*max-width: 400px;*/
    width: 100%;
    height: auto;
    background: #1e6073;
    border: 2px solid rgba(255,255,255,0.5);
    /*backdrop-filter: blur(15px);*/
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 3rem 3rem 3rem;
}
h2{
    font-size: 2em;
    color:#fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 2em 0;
    width: 100%;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top:50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.inputbox input{
    width: 100%;
    height: 3em;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color:#fff;
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px
}
.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}
.forget label input{
    margin-right: 3px;
}
.forget label a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
}
.forget label a:hover{
    text-decoration: underline;
}
.btn:hover{
    background-color: #499eb4;
    color:#fff;
}
.btn{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #417786;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
@media (max-width: 900px){
    .form_box {
        margin:0 auto;
        width: 40vw;
        height: auto;
    }
}
@media (max-width: 600px) {
    .form_box {
        margin:0 auto;
        width: 90%;
        height: auto;
        padding: 1.5rem 1rem;
    }
    .btn{
        width: 100%;
        height: 40px;
        border-radius: 40px;
        background: #417786;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1em;
        font-weight: 600;
    }
.inputbox{
    margin: 1.8em 0;
}
    h2 {
        font-size: 1.5rem;
    }
.forget{
    font-size: 0.7em;
}
}