.button_center_container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.center_button {

    margin: 25px; /* Расстояние между кнопками */
    width: 100px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .center_button{
        width: 80px;
        font-size: 12px;
    }
}