*{
  font-family: 'Lora', serif;
}
html, body {
  margin: 0;
  padding: 0;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to bottom, #a2afae, #dfc28f);

}
.container{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95vw;
  height: 100vh;
  border-radius: 100px;
  background: linear-gradient(to bottom, #252d3d, #499eb4);
}
