.logo{
    position: absolute; /* Устанавливаем позицию логотипа */
    top: 10px; /* Располагаем его сверху с отступом 10 пикселей */
    left: 50px; /* Располагаем его справа с отступом 10 пикселей */
    width: 4em;
}
.container{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95vw;
    height: 100vh;
    border-radius: 100px;
    background: linear-gradient(to bottom, #252d3d, #499eb4);
}
.text_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    background: linear-gradient(to right, #f1f0eb, #cae2e5);
    border-radius: 30px;
    width: 100%;
    max-width: 400px;
}
.text_block p{
    margin: 0 ;
    font-size: 1.5em;
    text-align: center;
}
.slider_btns{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

ion-icon{
    margin-top: 0.5em;
    font-size: 3rem;
    cursor: pointer;
}

.buttons{
   display: flex;
   justify-content: space-around;
   margin-top: 3vh;
}
.buttons a{
  display: inline-block;
    margin: 10px;
  padding: 15px 30px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s ease;

}
.first_btn:hover {
    background-color: #ff0000;
}
.second_btn:hover {
    background-color: #1db28a;
}
.first_btn{
    background-color: #f6073d;
}
.second_btn{
    background-color: #24d7a6;
}
.user_img {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
.user_img img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

@media screen and (max-width: 767px) {
    .container {
        height: 100vh;
        flex-direction: column-reverse; /* Меняем направление контейнера на вертикальное */
        justify-content: space-evenly;
    }
    .logo{
        width: 3em;
    }
    .user_img{
        margin-bottom: 0;
    }
    .user_img img{
        width: 45%; /* Уменьшаем отступ снизу для изображения */
    }
    .text_block{
        margin: 0 auto;
        padding: 1em;
        background: linear-gradient(to right, #f1f0eb, #cae2e5);
        border-radius: 30px;
        width: 70%;
        max-width: 400px;
    }
    .text_block p{
        margin: 0 ;
        font-size: 1em;
        text-align: center;
    }
}
